* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:root{
  --background: #37005c;
  --primary: rgba(255, 255, 255, 0.06);
  --secondary: #31b9b9;
  --text: white;
  --text-weight: lighter;
  --about: rgba(255, 255, 255, .8);
}

.active-scroll-spy{
  color: var(--text) !important; 
}
